@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Karla:wght@500&family=Oswald:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Bona Nova', serif;
}
body{
    
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.main{
padding:5vw;
position: relative;

}

.img, .img2{
    position: absolute;
    width:100px;
}
.img2{
    position: absolute;
    right: 80px;
    ;
}
h1,h2,  h3{
    font-family: 'Oswald', sans-serif;
}
h1 {   color: #fff;-webkit-animation: h1 8s infinite; 
    animation: h1 8s infinite;

}
@keyframes h1 {
    0%   {text-shadow: 0 0 3px #a5319a; color: #fff;}
    25%  {text-shadow: 0 0 12px #b14897;}
    50%  {text-shadow: 0 0 20px #520726; color: pink;}
    75%  {text-shadow: 0 0 12px #590b43;}
    100% {text-shadow: 0 0 3px #701744; color: #fff;}
}

p{
    font-family: 'Abril Fatface', cursive;
}
.heading, .searchBox{
    max-width: 50vw;
    margin:0 auto;;
    text-align: center;
}
.heading h1{
    color:#030e12;
    font-size: 40px;
    font-weight:900;
    letter-spacing: 1px;
    padding-bottom: 20px;;
   
  
}
.search-bar{
    margin: 1rem 0;
    width:45vw;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 18px;
    border:none;
    outline:none;
    border-radius: 1rem;
    padding: 0.8rem 1rem;
}
.container{
    margin-top:50px;
    width: 80%;
  
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:50px;
    margin-left: auto;
    margin-right: auto;

}
.card{
 width: 220px;
    border-radius: 1rem;
 
    background-color:#E8F9F4;
  
    padding-bottom:20px ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
;

}
.card:hover{
    transition: all 0.5s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  


    

}
.card::before{  content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;

}
.card:hover:before{
    transform: scale(2.15);

}
.card img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    
}

.card h2{

  padding-left: 10px;;
padding-top: 10px;
    font-size: 16px;
}
.card h3{
    padding-left: 10px;;
    font-size: 15px;
    
}
.content img{
   width: 100vw;
    height: 100vh
}  
.content .inner-content{
    background-color: rgba(255,255,255,0.8);
    color: #303D64;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 5px rgba(0,0,0,05);
}
.recipe-details{
    width: 70%;
    margin:2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ingredients,.instructions{
    flex-basis: 50%;
    text-align: justify;
}
.ingredients h4{
    margin-top: 1.5rem;
    font-weight: bold;
}
.video{
    width: 80vw;
    margin: 0 auto;
 
}
.indexContainer{
    display: flex;
    margin: 1.5rem 0;
}
.alphaBox{
    width: 50vw;;
}

.numBox {

    
    background-color: #ECF4F2;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 3px;;
    border-radius: 5px;;
    padding:2px;
    max-width: 80vw;
}
.numBox:hover{
    background-color: #030e12;
    color:#ecf4f2;
}
.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.titleAni {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, rgb(16, 15, 15), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
 
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
               glow 2500ms linear infinite 2000ms;
  
  
  }  
  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }

 
